{% extends 'base.html'%}

{% block title %}Search Results{% endblock %}


{% block content %}
<div class="container">
    <div class="form-group">
        <form action="/course_search_name" class="course-search-name">
            <label for="course-name-input">Search for Course by Name: </label>
            <input type="search" class="form-control" name="course-name-input">
            <button class="btn btn-success">Search</button>
        </form>
    </div>
    <div class="form-group">
        <form action="/course_search_zip" class="zip-search">
            <label for="zip">Search for Courses by Zip: </label>
            <input type="search" class="form-control" name="course-zip">
            <button class="btn btn-success">Search</button>
        </form>
    </div>
    <div class="form-group">
        <form action="/user_search" class="user-username-search">
            <label for="user-username-input">Search Users by Username: </label>
            <input type="search" class="form-control" name="user-username-input">
            <button class="btn btn-success">Search</button>
        </form>
    </div>
</div>
<div class="container">
    {% block results %}
    {% endblock %}
</div>
{% endblock %}