body {
  background: url("/static/images/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: "Vollkorn", serif;
}

.nav-link {
  color: rgb(215, 194, 176);
}

.navbar-brand {
  color: rgb(215, 194, 176);
}
#log-or-reg {
  background-color: rgba(2, 23, 6, 0.75);
  border-radius: 30px;
}

.user-card {
  background-color: rgba(2, 23, 6, 0.75);
  border-radius: 30px;
}

#nav {
  background-color: rgba(2, 23, 6, 0.75);
  color: rgb(215, 194, 176);
}

h1 {
  color: rgb(215, 194, 176);
}

#login-btn {
  background-color: rgba(9, 53, 13, 0.618);
  color: rgb(215, 194, 176);
  /* border-color: black; */
}
#register-btn {
  background-color: rgba(9, 53, 13, 0.618);
  color: rgb(215, 194, 176);
  /* border-color: black; */
}
.search-button {
  background-color: rgba(9, 53, 13, 0.618);
  color: rgb(215, 194, 176);
}

label {
  color: rgb(215, 194, 176);
}

.login-submit {
  background-color: rgba(9, 53, 13, 0.618);
  color: rgb(215, 194, 176);
}
.round-info {
  background-color: rgba(9, 53, 13, 0.618);
  color: rgb(215, 194, 176);
}
.delete-round {
  background-color: rgba(9, 53, 13, 0.618);
  color: rgba(174, 47, 47, 0.858);
}

#login-card {
  background-color: rgba(2, 23, 6, 0.75);
  border-radius: 30px;
}

.search-group {
  background-color: rgba(2, 23, 6, 0.75);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.register-prompt {
  color: rgb(215, 194, 176);
}

#register-card {
  background-color: rgba(2, 23, 6, 0.75);
  border-radius: 30px;
}

.list-group-item {
  background-color: rgba(2, 23, 6, 0.5);
}
p {
  color: rgb(215, 194, 176);
}

img {
  border-radius: 30px;
}

.card-img-top {
  border-radius: 30px 30px 30px 30px;
}

li {
  color: rgb(215, 194, 176);
}

.user-head {
  background-color: rgba(2, 23, 6, 0.75);
  border-radius: 0 0 30px 30px;
}
.course-head {
  background-color: rgba(2, 23, 6, 0.75);
  border-radius: 0 0 30px 30px;
}

.cat-title {
  background-color: rgba(2, 23, 6, 0.75);
  border-radius: 0 0 30px 30px;
}

.follow-btn {
  background-color: rgba(9, 53, 13, 0.618);
  color: rgb(215, 194, 176);
}
.edit-btn {
  background-color: rgba(9, 53, 13, 0.618);
  color: rgb(215, 194, 176);
}

.search-results-card {
  background-color: rgba(2, 23, 6, 0.75);
  border-radius: 30px;
}

.edit-form {
  background-color: rgba(2, 23, 6, 0.75);
  border-radius: 30px;
}

h2 {
  color: rgb(215, 194, 176);
}

.hole-card {
  background-color: rgba(2, 23, 6, 0.75);
  border-radius: 30px;
}

.headers {
  padding-top: 8px;
  background-color: rgba(2, 23, 6, 0.75);
  border-radius: 30px;
}

.add-round {
  background-color: rgba(9, 53, 13, 0.618);
  color: rgb(215, 194, 176);
  border: 1px solid black;
}
h4 {
  color: rgba(33, 91, 198, 0.886);
}

.course-location {
  color: rgb(215, 194, 176);
}
