body {
  background: url("/static/images/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: "Vollkorn", serif;
}

.nav-link {
  color: rgb(215, 194, 176);
}

.navbar-brand {
  color: rgb(215, 194, 176);
}
#log-or-reg {
  background-color: rgba(2, 23, 6, 0.75);
  border-radius: 30px;
}

.user-card {
  background-color: rgba(2, 23, 6, 0.75);
  border-radius: 30px;
}

#nav {
  background-color: rgba(2, 23, 6, 0.75);
  color: rgb(215, 194, 176);
}

h1 {
  color: rgb(215, 194, 176);
}

#login-btn {
  background-color: rgba(9, 53, 13, 0.618);
  color: rgb(215, 194, 176);
  /* border-color: black; */
}
#register-btn {
  background-color: rgba(9, 53, 13, 0.618);
  color: rgb(215, 194, 176);
  /* border-color: black; */
}
.search-button {
  background-color: rgba(9, 53, 13, 0.618);
  color: rgb(215, 194, 176);
}

label {
  color: rgb(215, 194, 176);
}

.login-submit {
  background-color: rgba(9, 53, 13, 0.618);
  color: rgb(215, 194, 176);
}
.round-info {
  background-color: rgba(9, 53, 13, 0.618);
  color: rgb(215, 194, 176);
}
.delete-round {
  background-color: rgba(9, 53, 13, 0.618);
  color: rgba(174, 47, 47, 0.858);
}

#login-card {
  background-color: rgba(2, 23, 6, 0.75);
  border-radius: 30px;
}

#search-group {
  background-color: rgba(2, 23, 6, 0.75);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.register-prompt {
  color: rgb(215, 194, 176);
}

#register-card {
  background-color: rgba(2, 23, 6, 0.75);
  border-radius: 30px;
}

.list-group-item {
  background-color: rgba(2, 23, 6, 0.5);
}
p {
  color: rgb(215, 194, 176);
}

img {
  border-radius: 30px;
}

.card-img-top {
  border-radius: 30px 30px 30px 30px;
}

li {
  color: rgb(215, 194, 176);
}

.user-card {
}
.card-row {
}

.card-img {
}
