{% extends 'base.html'%}

{% block title %}Welcome!{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="row mt-5">
        <div class="col-4"></div>
        <div class="col card w-50" id="log-or-reg">
            <div class="p-3">
                <h1 class="display-5">Log In or Register</h1>
                <p><a href="/login" class="btn m-2" id="login-btn">Log in</a>
                    <a href="/register" class="btn m-2" id="register-btn">Register</a></p>
            </div>
        </div>
        <div class="col-4"></div>

    </div>
</div>
{% endblock %}