{% extends 'base.html'%}

{% block title %}{% endblock %}

{% block content %}
<div class="container mb-5">

    <div class="row justify-content-center mt-5">
        <div class="col-md-6 w-50" id="register-card">
            <div class="m-3">
                <form method="POST">
                    {{form.hidden_tag()}}
                    {% for field in form 
        if field.widget.input_type != 'hidden' %}
                    <div class="form-group">
                        {{field.label}}
                        {{field(class_="form-control")}}
                        {% for err in field.errors %}
                        {{err}}
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <button class="btn login-submit">Submit</button>
                    <span class="float-right register-prompt">Already have an account? <a href="/login">Login
                            here</a></span>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}