{% extends 'base.html'%}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row " id="search-group">

    <div class="form-group col-4">

        <form action="/course_search_name" id="course-search">
            <label for="course-name-input">Search for Course by Name: </label>
            <input type="search" class="form-control" name="course-name-input">
            <button class="btn mt-2 form-control search-button">Search</button>
        </form>

    </div>

    <div class="form-group col-4">
        <form action="/course_search_zip" id="zip-search">
            <label for="zip">Search for Courses by Zip: </label>
            <input type="search" class="form-control" name="course-zip">
            <button class="btn mt-2 form-control search-button">Search</button>
        </form>
    </div>

    <div class="form-group col-4">

        <form action="/user_search" id="user-username-search">
            <label for="user-username-input">Search Users by Username: </label>
            <input type="search" class="form-control" name="user-username-input">
            <button class="btn mt-2 form-control search-button">Search</button>
        </form>

    </div>

</div>
<div class="container">
    <div class="row justify-content-center card-row">
        {% for round in rounds %}
        <div class="col-sm-6 col-md-2 card m-4 user-card">
            <img class="card-img-top pt-2" src="{{round.user.avatar}}" alt="">
            <div class="card-header">
                <a href="/course_details/{{round.course_id}}">
                    <h4 class="display-6">{{round.course_name}}</h4>
                </a>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">User: <a class="text-success"
                        href="/users/{{round.user.id}}">{{round.user.username}}</a>
                </li>

                <li class="list-group-item">{{round.score}}</li>
                <li class="list-group-item"> {{round.date}}</li>
                <a class="btn round-info" href="/round_info/{{round.id}}">Info</a>



                {% if g.user.id == round.user.id %}
                <button class="btn delete-round" data-id="{{round.id}}">Delete</button>
                {% endif %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}