{% extends 'base.html' %}

{% block title %}Edit{{user.username}}{% endblock %}

{% block content %}
<div class="container pt-3">
    <div class="row">
        <div class="col-5 align-self-start text-center sticky-top pt-5 pb-3 edit-form">
            <h1 class="display-3">{{user.username}}</h1>
            <img src="{{user.avatar}}" class="img-fluid h-75 w-75 pb-3" alt="">
            <form action="/users/{{user.id}}/delete" method='POST'>
                <button class="btn delete-round">Delete User</button>
            </form>
        </div>
        <div class="col-2"></div>
        <div class="col-5 text-center pb-4 edit-form">
            <h2 class="display-4">Edit Profile</h2>
            <form action="/users/{{user.id}}/edit" method='POST'>
                {{ form.hidden_tag() }}

                {% for field in form if field.widget.input_type != 'hidden'%}
                <div class="form-group">
                    {{field.label}}
                    {{field(class_="form-control")}}
                    {% for err in field.errors %}
                    <small class="form-text text-warning">{{err}}</small>
                    {% endfor %}
                </div>
                {% endfor %}
                <button class="btn edit-btn">Confirm Edits</button>
                <a href="/users/{{user.id}}" class="btn delete-round">Cancel</a>
            </form>
        </div>
        <div class="col-1"></div>


    </div>
</div>


{% endblock %}