{% extends 'base.html'%}

{% block title %}{{user.username}}{% endblock %}

{% block content %}
<div class="container">

    <div class="row justify-content-center user-head">
        <div class="col-sm-3 text-center">
            <img class="img-fluid w-20px h-20px" src="{{user.avatar}}" alt="">
            <h1 class="display-4">{{user.username}}</h1>
            {% if user.id == g.user.id %}
            <p>
                <a class="btn edit-btn" href="/users/{{user.id}}/edit">Edit</a>
            </p>
            {% endif %}
            {% if user.id != g.user.id and user not in g.user.following %}
            <p>
                <form action="/users/{{user.id}}/follow" method="POST">
                    <button class="btn follow-btn">Follow</button>
                </form>
            </p>
            {% endif %}
            {% if user in g.user.following %}
            <p>
                <form action="/users/{{user.id}}/unfollow" method="POST">
                    <button class="btn follow-btn">Unfollow</button>
                </form>
            </p>
            {% endif %}

        </div>
        <div class="col-sm-6 text-center">
            <p class="display-4">{{user.first_name}}</p>
            <p class="display-4">{{user.last_name}}</p>
            <h4>{% if user.fav_course %} <a
                    href="/fav_course_search_name/{{user.fav_course}}">{{user.fav_course}}</a>{%endif%}</h4>



        </div>
        <div class="col-sm-3 text-center">
            <p class="display-6">
                {% if user.bio %}{{user.bio}}{%endif%}</p>
            <p>{{user.location}}</p>

        </div>
    </div>


    {% block user_info %}
    {% endblock %}
</div>
{% endblock %}