{% extends 'user/user_base.html'%}

{% block user_info %}
<div class="container">
    <div class="row">
        <div class="col-sm text-center">
            <h4 class="display-5"><a href="/users/{{user.id}}/rounds">Rounds</a></h4>
            {% for round in user.user_rounds %}
            <div class="card">
                <p><a href="/course_details/{{round.course_id}}">{{round.course_name}}</a></p>
                <p>{{round.score}}</p>
                <p>{{round.date}}</p>
                {% if round.user.id == g.user.id %}
                <button class="delete-round btn btn-danger" data-id={{round.id}}>remove</button>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="col-sm text-center">
            <h4 class="display-5"><a href="/users/{{user.id}}/following">Following</a></h4>
            {% for follows in user.following %}
            <div class="card">
                <img src="{{follows.avatar}}" class="card-img-top" alt="">
                <h3 class="card-title display-4"><a href="/users/{{follows.id}}">{{follows.username}}</a></h3>
            </div>
            {% endfor %}
        </div>
        <div class="col-sm text-center">
            <h4 class="display-5"><a href="/users/{{user.id}}/following_rounds">Following Rounds</a></h4>
            {% for round in following_rounds %}
            <div class="card">
                <h3 class="card-title"><a href="/users/{{round.user.id}}">{{round.user.username}}</a></h3>
                <p><a href="/course_details/{{round.course_id}}">{{round.course_name}}</a></p>
                <p> {{round.score}}</p>
                <p> {{round.date}}</p>
            </div>
            {% endfor %}
        </div>
        <div class="col-sm text-center">
            <h4 class="display-5"><a href="/users/{{user.id}}/followers">Followers</a></h4>
            {% for follower in user.followers %}
            <div class="card">
                <img src="{{follower.avatar}}" class="card-img-top" alt="">
                <h3 class="display-4 card-title"><a href="/users/{{follower.id}}">{{follower.username}}</a></h3>
            </div>
            {% endfor %}
        </div>




    </div>
</div>
{% endblock %}