{% extends 'user/user_base.html'%}

{% block user_info %}

<div class="row">
    <div class="col-sm text-center">
        <h4 class="display-5 cat-title"><a href="/users/{{user.id}}/rounds">Rounds</a></h4>
        {% for round in user.user_rounds %}
        <div class="card m-4 user-card">

            <div class="card-header text-center">
                <a href="/course_details/{{round.course_id}}">
                    <h4 class="display-6">{{round.course_name}}</h4>
                </a>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">User: <a class="text-success"
                        href="/users/{{round.user.id}}">{{round.user.username}}</a>
                </li>

                <li class="list-group-item">Score: {{round.score}}</li>
                <li class="list-group-item pb-2"> {{round.date.strftime('%b, %d, %Y')}}</li>
                <div class="row pb-3 pt-2">

                    <div class="col-6 text-center">
                        <a class="btn round-info" href="/round_info/{{round.id}}">Info</a>
                    </div>



                    {% if g.user.id == round.user.id %}
                    <div class="col-6">
                        <button class="btn delete-round" data-id="{{round.id}}">Delete</button>
                    </div>
                    {% endif %}
                </div>
            </ul>
        </div>
        {% endfor %}
    </div>


    <div class="col-sm text-center">
        <h4 class="display-5 cat-title"><a href="/users/{{user.id}}/following">Following</a></h4>
        <div class="row card-row justify-content-center mt-4">
            {% for follows in user.following %}

            <div class="card col-5 user-card pt-3 pb-3">
                <div class="row justify-content-center">
                    <div class="col">
                        <img src="{{follows.avatar}}" class="card-img-top" alt="">
                    </div>
                </div>
                <h4 class="card-title display-6"><a href="/users/{{follows.id}}">{{follows.username}}</a></h4>
            </div>
            {% endfor %}
        </div>
    </div>


    <div class="col-sm text-center">
        <h4 class="display-5 cat-title"><a href="/users/{{user.id}}/following_rounds">Following Rounds</a></h4>
        {% for round in following_rounds %}
        <div class="card m-4 user-card">

            <div class="card-header text-center">
                <a href="/course_details/{{round.course_id}}">
                    <h4 class="display-6">{{round.course_name}}</h4>
                </a>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">User: <a class="text-success"
                        href="/users/{{round.user.id}}">{{round.user.username}}</a>
                </li>

                <li class="list-group-item">Score: {{round.score}}</li>
                <li class="list-group-item pb-2"> {{round.date.strftime('%b, %d, %Y')}}</li>
                <div class="row pb-3 pt-2">

                    <div class="col text-center">
                        <a class="btn round-info" href="/round_info/{{round.id}}">Info</a>
                    </div>

                </div>
            </ul>
        </div>
        {% endfor %}
    </div>
    <div class="col-sm text-center">
        <h4 class="display-5 cat-title"><a href="/users/{{user.id}}/followers">Followers</a></h4>
        <div class="row card-row justify-content-center mt-4">
            {% for follower in user.followers %}
            <div class="card col-5 user-card pt-3 pb-2">
                <div class="row justify-content-center">
                    <div class="col">
                        <img src="{{follower.avatar}}" class="card-img-top" alt="">
                    </div>
                </div>
                <h4 class="card-title display-6"><a href="/users/{{follower.id}}">{{follower.username}}</a></h4>
            </div>
            {% endfor %}
        </div>
    </div>




</div>

{% endblock %}