{% extends 'base.html'%}

{% block title %}{{user.username}}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm text-center">
            <h1 class="display-1">{{user.username}}</h1>
            <img class="img-fluid w-50 h-50" src="{{user.avatar}}" alt="">
            {% if user.id == g.user.id %}
            <p>
                <a class="btn btn-info" href="/users/{{user.id}}/edit">EDIT</a>
                <a class='btn btn-success' href="/users/{{user.id}}/new_round">Add Round</a>
            </p>
            {% endif %}
            {% if user.id != g.user.id and user not in g.user.following %}
            <p>
                <form action="/users/{{user.id}}/follow" method="POST">
                    <button class="btn btn-primary">Follow</button>
                </form>
            </p>
            {% endif %}
            {% if user in g.user.following %}
            <p>
                <form action="/users/{{user.id}}/unfollow" method="POST">
                    <button class="btn btn-primary">Unfollow</button>
                </form>
            </p>
            {% endif %}

        </div>
        <div class="col-sm text-left">
            <p class="display-3">{{user.first_name}}</p>
            <p class="display-3">{{user.last_name}}</p>
            <p class="display-3">{{user.location}}</p>


        </div>
        <div class="col-sm text-center">
            <p class="display-3">
                {% if user.bio %}{{user.bio}}{%endif%}</p>
            <p class="display-3">{% if user.fav_course %}{{user.fav_course}}{%endif%}</p>




        </div>
    </div>
</div>

{% block user_info %}
{% endblock %}
{% endblock %}